
textarea:focus, input:focus{
  outline: 1px solid rgb(134, 18, 18);
}

button{
  background-color: #ffffff;
  margin: 5px;
  padding: 8px 12px 8px 12px;
  border-radius: 7px;
  border-width: 1px;
  border: 1px solid rgb(201, 201, 201);
  background-color: rgb(255, 255, 255);
}

.login-form {
  margin: auto;
  padding: 17px 0px 17px 0px;
  border-radius: 16px;
  background-color: rgb(255, 255, 255);
  width: 360px;
  border: 1px solid rgb(207, 207, 207);
  box-shadow: 10px 10px 31px -1px rgba(0,0,0,0.75);
}

.auth, .login-button, .inputNewItem {
  font-size: 22px;
  margin: 0px 5px 0px 15px;
  width: 327px;
  padding: 15px 13px 13px 15px;
  margin-bottom: 8px;
  border-radius: 10px;
  border-width: 0px;
  border: 1px solid rgb(207, 207, 207);
}

.login-button {
  width: 325px;
  margin-bottom: 0px;
}
.pass-wrapper {
  position: relative;
}
.show-pass {
  user-select: none;
  font-size: 18px;
  position: absolute;
  top: 16px;
  right: 35px;
}

.bad-field{
  border-style: solid;
  border-color: hsl(4, 100%, 83%);
  border-width: 1px;
  background-color:rgb(255, 236, 230);
}


.inputNewItem {
  width: 92%;
}

.mybtn {
  font-size: 22px;
  padding: 8px 12px 8px 12px;
  margin-bottom: 8px;
  border-radius: 10px;
  border-width: 0px;
  border: 1px solid rgb(207, 207, 207);
}

.myinput{
  font-size: 22px;
  margin: 0px 5px 0px 15px;
  width: 92%;
  padding: 15px 13px 13px 15px;
  margin-bottom: 8px;
  border-radius: 10px;
  border-width: 0px;
  border: 1px solid rgb(207, 207, 207);
}


.herobasicimg {
  width: 20px;
  height: 20px;
}

.ListItem {
  border: 1px solid rgb(204, 204, 204);
  border-radius: 16px;
  width: 200px;
  height: 250px;
  margin: 5px;
  background-color: #fff8f8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35);
}

.showing{
  padding: 5px;
  display:inline-block;
}

.clickableArea {
  box-shadow: inset 0px 0px 10px rgba(180, 180, 180, 0.9);
  border-radius: 16px;
  width: 100%;
  height: 250px;
}

.itemContainer {
  position:relative;

}

.itemwrapper{
  
  position: relative;
  z-index: 2;
  left: 0px;
  top:0px;
  width: 100%;
}

.ListHeroNickname, .ListHeroNicknamebg{
  left: 0px;
  top: 0px;
  overflow-x:hidden;
  padding: 5px 45px 5px 15px;
  word-wrap: break-word;
  font-size: 22px;
  font-weight:700;
  width: 200px;
  
  border-radius: 16px 16px 0px 0px;
  border-bottom: 1px solid rgb(197, 197, 197);

}



.ListHeroNicknamebg {
  width: 100%;
  position: absolute;
  left: 0px;
  height: 99%;
  z-index: 0;
  background: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(15px);
}

.ListHeroNickname{
  position: relative;
  z-index: 2;
}









.imgholder{
  margin: 5px;
  display:  inline-block;
}

.imgHolderShow {
  width: 50px;

}

.imgShowMain{
  width: 40px;
}
.editbtn {
  z-index: 3;
  position: absolute;
  top: 5px;
  left: 155px;
  display: inline-block;
  border: 1px solid rgb(161, 161, 161);
  border-radius: 12px;
  padding: 4px;
}

.mainContainer {
  display: grid;
  place-items: center;
  
}

.List {
  grid-gap: 10px;
  display: grid;
  place-items: center;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  width: 100%;
  min-width: 250px;
  max-width: 700px;
}

.myPag {
  width: 100%;
}
.myPag2 {
  justify-content: center;
}

.form-image-container {
  margin-left: 10px;
}



.h2-wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
}



.info-text {
  /* background-color: aquamarine; */
  color: black;
  display: inline;
  font-size: 18px;
  margin: 5px 0 0 15px;
  padding: 0 0 0 15px;
  font-weight: 700;

}

.info-field {
  font-size: 22px;
  margin: 0px 5px 0px 15px;
  width: 92%;
  padding: 0px 13px 0px 15px;
  margin-bottom: 8px;
  border-radius: 2px;
  border-width: 0px;
  border-left: 1px solid rgb(207, 207, 207);
  border-right: 0px solid rgb(207, 207, 207);

}

.imageHolder {
padding-left: 23px;
padding-bottom: 10px;
}


.imgSlider {
  /* position: absolute;
  left: 260px;
  top: 16px; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* border: 1px solid rgb(204, 204, 204); */
  /* border-radius: 1px; */
  width: 100%;
  height: 250px;
  margin: 0 0 15px 0;
  /* background-color: #fff8f8; */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  /* box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35); */
}

#setAsMain {
  margin: 10px;
  min-width: 18px;
  min-height: 18px;
  border-radius: 5px;

}
.mylabel {
  font-size: 22px;
}

.SliderBtn {
  font-weight: 700;
  padding: 120px 25px 0 25px;
  text-align: center;
  position: absolute;
  top: 0px;
  height: 100%;
  background-color: #dbdbdb;
  width: 50%;
  background: rgba(255, 255, 255, 0.4);
  backdrop-filter: blur(2px);
  border-radius: 20px;
  /* border: 1px solid rgb(121, 121, 121); */
}
.SliderR {
  right: 0px;
  text-align: end;
}
.SliderL {
  text-align: start;
  left: 0px;
}

.SliderSet {
  position: absolute;
  color: black;
  left: 50%;
  bottom:0px;
  transform: translate(-50%, 0%);
  margin-bottom: 8px;
  width: 150px;
  font-size: 22px;
  padding: 8px 12px 8px 12px;
  border-radius: 10px;
  border-width: 0px;
  border: 1px solid rgb(121, 121, 121);
  background: rgba(255, 255, 255, 0.35);
  text-align: center;
  backdrop-filter: blur(10px);
}

.currSlide {
  position: relative;
  border: 1px solid rgb(102, 102, 102);
  border-radius: 16px;
  width: 200px;
  height: 250px;
  background-color: #fff8f8;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35);
  z-index: 1;

}

.prevSlide {
  position: absolute;
  left: 20px;
  z-index: 0;
  width: 180px;
  height: 225px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35);
  border: 1px solid rgb(102, 102, 102);
  border-radius: 16px;

}
.nextSlide{
  position:absolute;
  right: 20px;
  z-index: 0;
  width: 180px;
  height: 225px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  box-shadow: 5px 5px 10px 0px rgba(0,0,0,0.35);
  border: 1px solid rgb(102, 102, 102);
  border-radius: 16px;
}